%html
  %head
    %link{ :type => "text/css", :href => "/ateles.css", :rel => "stylesheet" }
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/jquery.jsonp-2.1.4.min.js"}
    %script{:type => "text/javascript", :src => "/ateles.js"}
  %body
    =yield